$apple-blue: #0a84ff;
$apple-red: #ff443a;
$apple-green: #30d158;

body, html, #app {
    background: #333;
    color: #EEE;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}
.title {
    font-size: 1.75em;
    font-weight: bold;
}
a, a:hover, a:visited {
    color: #eee;
    text-decoration: none;
}
button {
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    padding: .5em;
    border-radius: 6px;
}

#blocking {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    * {
        margin: .2em;
    }
    .blocking_title {
        font-size: 3em;
        font-weight: bold;
    }
    .blocking_subtitle {
        font-size: 2em;
    }
    .blocking_button {
        background-color: $apple-blue;
        font-size: 1em;
    }
    .blocking_input {
        padding: .5em;
        border-radius: 6px;
    }
}

#header {
    background-color: #111;
    .wrapper {
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    .header_title {
        font-size: 2em;
        font-weight: bold;
        margin: 0 .5em;
    }
    nav {
        flex: 1;
        display: flex;
        margin: 0;
        padding: 0;
        a {
            padding: 1em;
            list-style-type: none;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background-color: #555;
            }
            &:hover {
                background-color: $apple-blue;
                cursor: pointer;
            }
        }
    }
}

#meta {
    padding: 2em;
    #meta_series, #meta_movies {
        display: flex;
        margin: 1em 0;
        .meta {
            position: relative;
            flex: 1;
            max-width: 300px;
            height: 200px;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 4px;
            .meta_title {
                position: absolute;
                bottom: 0;
                width: 100%;
                box-sizing: border-box;
                padding: .5em;
                font-weight: bold;
                background-color: rgba(0,0,0,0.6);
            }
            &:hover {
                margin: 0;
                border-style: solid;
                border-width: 4px;
                border-color: black;
                cursor: pointer;
            }
        }
    }
}

#single_series {
    padding: 1em;
    .series_data {
        display: flex;
        margin-bottom: 1em;
        > div {
            font-style: italic;
            color: #aaa;
        }
        .series_seasons {
            margin-right: .5em;
        }
    }
    .series_season {
        background-color: #222;
        margin: 1em;
        .season_title {
            font-size: 1.5em;
            font-weight: bold;
            padding: .5em;
            background-color: #000;
        }
        .season_episodes {
            .season_episode {
                display: flex;
                cursor: pointer;
                border-bottom: 2px solid #fff;
                &:last-child {
                    border-bottom: 0;
                }
                > div {
                    padding: 1em;
                }
                .episode_number {
                    background-color: $apple-blue;
                }
            }
        }
    }
}

#player {
    padding: 1em;
    .player_season {
        font-style: italic;
        i {
            color: #aaa;
        }
    }
    video {
        width: 100%;
        margin: 1em;
        height: auto;
    }
}

#session {
    padding: 1em;
    .session_join_div {
        margin: 1em 0;
        input {
            padding: .5em;
            border-radius: 6px;
        }
        button {
            margin-left: .5em;
        }
        .session_join_btn { background-color: $apple-blue; }
        .session_create_btn { background-color: $apple-green; }
        .session_leave_btn { background-color: $apple-red; }
    }
}

#footer {
    width: 100%;
    font-size: .5em;
    text-align: center;
}